* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 80%;
    margin: 10% auto;
    border: green solid;
    position: relative;
}

.side-section {
    min-width: 150px;
    padding: 200px 40px;
    border: red solid;
}

.side-section h1 {
    position: absolute;
    top: 20%;
}

.sign-up-section {
    width: 500px;
    background-color: whitesmoke;
    padding-left: 10px;
    border: solid blue;
}

header {
    margin-top: 50px;
}

fieldset {
    background-color: white;
}
